@model FileHash.Models.HashViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>File Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" onsubmit="return validate(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FileId" />
            <!-- div class="form-group">
                <label asp-for="Hash" class="control-label"></label>
                <input asp-for="Hash" class="form-control" />
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HashType" class="control-label"></label>
                <input asp-for="HashType" class="form-control" />
                <span asp-validation-for="HashType" class="text-danger"></span>
            </div -->
            <div class="form-group">
                <label asp-for="Filename" class="control-label"></label>
                <span asp-for="Filename" class="form-control">
                    @Html.DisplayFor(model => model.Filename)
                </span>
                <span asp-validation-for="Filename" class="text-danger">
                    @ViewData["Message"]
                </span>
            </div>
            <input type="hidden" asp-for="Filename" />
            <!-- input type="hidden" asp-for="Hash" / -->
            <div class="form-group">
                <label asp-for="HashType" class="control-label"></label>
                <select asp-for="HashType" class="form-control" asp-items="Model.HashTypes"></select>
                <!-- span asp-validation-for="HashType" class="text-danger"></span -->
            </div>
            <div class="form-group">
                <label asp-for="LocalFile" class="control-label"></label>
                <input asp-for="LocalFile" class ="form-control" />
                <span asp-validation-for="LocalFile" class="text-danger"></span>
            </div>
            <!-- input type="hidden" asp-for="Size" / -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="javascript">
        function validate(form) {
            var inputElement = document.getElementById('LocalFile');
            var fileSize = inputElement.files[0].size;

            var newInput = document.createElement('input');
            newInput.type = 'hidden';
            newInput.name = 'Last';
            newInput.value = inputElement.files[0].lastModified;
            form.appendChild(newInput);
            var newInput2 = document.createElement('input');
            newInput2.type = 'hidden';
            newInput2.name = 'Size';
            newInput2.value = inputElement.files[0].size;
            form.appendChild(newInput2);

            return true;
        }
    </script>
}
